/* CUSTOM CSS FILE - USE THIS FILE FOR YOUR CUSTOM CSS CODE
--------------------------------------------------------------- */
body{
    font-family:'Roboto', sans-serif;;
}

.page_content{
    background: #fff;
    padding: 0.8em;
    font-size: 1.2em;
    min-height: 5em;
    padding-bottom: 2em;
}

.topic_content{
    background-color: transparent;
    padding: 0em;
    font-size:1.2em;
}
.topic_content .col-md-12{
    background-color: white;
}
.topic_content h2{
    padding-top:5px;
}
.top_content h2:before, .top_content h3:before, .top_content h4:before{
    top: calc(25% - 11px);
}
.topic_content .left{

}
.topic_content text{
    background-color: white;
    padding: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-top: 0.5em;
    width:100%;
    display: block;
}

.bg-danger
{
    background-color: #D83A29;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}
.bg-success
{
    background-color: #00A045;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
}
label{
    font-weight: bold;
    line-height: 34px;
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}
.col-xs-12, .col-sm-12, .col-md-8, .col-lg-10{
    margin-bottom: 1em;
}
.info{
    background-color: #81D339;
    color: #FFFFFF;
    padding: 1em;
    text-align: center;

}
.info a{
    color:white;
    font-size:1.3em;
    margin-bottom: 1em;
    display: block;
}
.message{
    background-color: white;
    color:#444444;
    padding: 1em;
}
 .bottom{
    position: absolute;
    bottom: 0.5em;
    left:1em;
}
.paginataion_all{
    margin-top:1em;
    text-align: center;
    background: transparent;
}
.topic_content .paginataion_all{
    background-color: transparent;
}
.paginataion_all .active{
    background-color: #00AFF0;
    color:white;
}